*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.metadata
*.classpath
*.project
*.settings

*.fdb_latexmk
*.log
*.synctex.gz
*.aux

.idea
assign1/assign1_data/
assign1/._assign1_data
assign1/build_assign1/