*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.metadata
*.classpath
*.project
*.settings

*.fdb_latexmk
*.log
*.synctex.gz
*.aux

.idea

*.out
*.in

language_model/assign1_data/
language_model/._assign1_data
language_model/build_assign1/
speech_decoder/csr-288
speech_decoder/build_assign_speech/
pcfg_parser/wsj/
pcfg_parser/build_assign_parsing/
parser_reranker/rerank-data
parser_reranker/build_assign_rerank/
word_aligner/build_assign_align/
word_aligner/align_data
word_aligner/phraseTable.txt
